

 main {
  color: #4C4B4E;
 }


li {
   list-style: none;

}

header {
  background-color: #28A7F2;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

header ul {
  display: flex;
  flex-wrap: wrap;

}

header ul li {
  display: flex;
  margin: 20px;
  text-align: center;
  align-items: center;
  font-size: 30px;
}


header a {
  color: #FFFFFF;
  text-decoration: none;
}

header a:hover {
  color: #EAEAEA;
}

header img {
  height: 200px;
}

.profile {
  display: flex;
  justify-content: space-around;

}

.profile h1 {
  text-align: center;
}

.profile li {
  margin-bottom: 10px;

/*  display: flex;
  flex-direction: column;
  justify-content: flex-start;*/
}

.search h1 {
  text-align: center;
}

.search form {
  margin-left: 100px;
  margin-bottom: 20px;
}

.search form input {
  margin-left: 5px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchForm li{
  margin-bottom: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 {
  text-align:center;
}

.home p {
  text-align: center;
  font-size: 20px;
  margin-top: 80px;
  /*width: 200px;*/

}

.home img {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
}

.home a {
  color: #28A7F2;
  text-decoration: none;
}

.home a:hover {
  color: #5FC7FD;
}

.home span {
  margin: 20px;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.userList {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.userList li {
  margin: 10px;
}

.userList .users a {
  color: #28A7F2;
  text-decoration: none;
}

.userList .users a:hover {
  color: #5FC7FD;
}

.login, .register {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login img, .register img {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.loginForm, .registerForm {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 50px;
  flex-wrap: wrap;

}

.loginForm span, .registerForm span {
  margin-left: 15px;
  margin-right: 5px;
}

.loginForm button, .registerForm button {
  margin-left: 5px;
  font-size: 12px;
}

.loginForm a {
  color: #28A7F2;
  text-decoration: none;
}

.loginForm a:hover {
  color: #5FC7FD;
}





